.btn btn-default  {
  text-align: left;
  color:black
}

.form-group {
  height: 40vmin;
  pointer-events: none;
  color:red
}

@media (prefers-reduced-motion: no-preference) {
  .btn btn-default {
    animation: App-logo-spin infinite 20s linear;
  }
}

.checkbox {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: pink;
}

.btn btn-default {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
